<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>FEED</title>
<!--    <link rel="stylesheet" href="/uikit/css/uikit.css">-->
<!--    <script src="/uikit/js/uikit.js"></script>-->
<!--    <script src="/uikit/js/uikit-icons.js"></script>-->
</head>
<body>
    <div layout:fragment="contents">

<!--    TOP50-->
        <div class="uk-container uk-container-small uk-margin uk-margin-small-top">
            <p class="uk-text-large uk-text-bold">TOP 50</p>
        </div>

        <form class="uk-container uk-container-small uk-text-center uk-margin uk-margin-small-top uk-position-relative" >
            <div class="" uk-slider>
                <ul class="uk-slider-items uk-grid-small uk-child-width-1-2 uk-child-width-1-5@s" uk-slideshow="autoplay-interval: 1000">

                    <li>
                        <div class="uk-panel">
                            <a href="#" class="uk-text-decoration-none uk-text-default uk-text-muted">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="/img/titleimg.jpg" alt="" uk-cover>
                                    <canvas width="168" height="168"></canvas>
                                </div>
                                <div class="">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-small uk-text-left uk-margin-remove">유저아이디1</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel">
                            <a href="#" class="uk-text-decoration-none uk-text-default uk-text-muted">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="/img/1.jpg" alt="" uk-cover>
                                    <canvas width="168" height="168"></canvas>
                                </div>
                                <div class="">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-small uk-text-left uk-margin-remove">유저아이디1</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel">
                            <a href="#" class="uk-text-decoration-none uk-text-default uk-text-muted">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="/img/2.jpg" alt="" uk-cover>
                                    <canvas width="168" height="168"></canvas>
                                </div>
                                <div class="">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-small uk-text-left uk-margin-remove">유저아이디1</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel">
                            <a href="#" class="uk-text-decoration-none uk-text-default uk-text-muted">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="/img/3.jpg" alt="" uk-cover>
                                    <canvas width="168" height="168"></canvas>
                                </div>
                                <div class="">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-small uk-text-left uk-margin-remove">유저아이디1</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel">
                            <a href="#" class="uk-text-decoration-none uk-text-default uk-text-muted">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="/img/4.jpg" alt="" uk-cover>
                                    <canvas width="168" height="168"></canvas>
                                </div>
                                <div class="">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-small uk-text-left uk-margin-remove">유저아이디1</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel">
                            <a href="#" class="uk-text-decoration-none uk-text-default uk-text-muted">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="/img/5.jpg" alt="" uk-cover>
                                    <canvas width="168" height="168"></canvas>
                                </div>
                                <div class="">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-small uk-text-left uk-margin-remove">유저아이디1</p>
                                </div>
                            </a>
                        </div>
                    </li>

                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
        </form>

<!--     경계선   -->
        <div class="uk-container uk-container-small uk-text-center">
            <hr class="uk-margin-medium-top uk-margin-medium-bottom">
        </div>

<!--        -->
        <div class="uk-container uk-container-small uk-text-center">

            <div class="uk-flex uk-position-relative uk-card uk-card-default uk-margin-medium-bottom">
                <div class="uk-position-relative uk-cover-container" style="height: 248px; width: 248px;">
                    <img src="/img/titleimg.jpg" alt="" uk-cover>
                    <div class="uk-position-bottom-right" style="background-color: #595959; color: white; width: 50px; height: 24px">
                        <span>3:42</span>
                    </div>
                </div>

                <div>
                    <ul style="list-style: none">
                        <li class="">
                            <div class="uk-flex">
                                <div class="uk-cover-container" style="height: 80px; width: 80px; border-radius: 50%">
                                    <img src="/img/titleimg.jpg" alt="" uk-cover>
                                </div>
                                <div class="uk-margin-small-left">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-left uk-margin-remove"><a class="uk-text-decoration-none uk-text-meta" href="#">유저아이디1</a></p>
                                </div>
                                <div class="uk-position-medium uk-position-top-right">
                                    <a class="" href="#" uk-icon="icon: heart"></a>
                                    <a class="uk-margin-small-left" href="#" uk-icon="icon: plus;"></a>
                                </div>
                            </div>
                        </li>
                        <li>
<!--                            <textarea class="uk-margin-small-top" style="border: none" name="" id="" cols="70" rows="5">소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글</textarea>-->
                            <div class="uk-text-left uk-margin-small-top uk-margin-small-bottom" style="width: 590px; height: 100px">
                                <span class="uk-text-small">
                                    소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="uk-flex uk-flex-between">
                                <span class="uk-text-small">1:00</span>
                                <span class="uk-text-small">3:42</span>
                            </div>
                            <progress id="js-progressbar" class="uk-progress uk-margin-remove-top" value="10" max="100"></progress>
                            <script>
                                UIkit.util.ready(function () {
                                    var bar = document.getElementById('js-progressbar');
                                    var animate = setInterval(function () {
                                        bar.value += 10;
                                        if (bar.value >= bar.max) {
                                            clearInterval(animate);
                                        }
                                    }, 1000);
                                });
                            </script>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-flex uk-position-relative uk-card uk-card-default uk-margin-medium-bottom">
                <div class="uk-position-relative uk-cover-container" style="height: 248px; width: 248px;">
                    <img src="/img/titleimg.jpg" alt="" uk-cover>
                    <div class="uk-position-bottom-right" style="background-color: #595959; color: white; width: 50px; height: 24px">
                        <span>3:42</span>
                    </div>
                </div>

                <div>
                    <ul style="list-style: none">
                        <li class="">
                            <div class="uk-flex">
                                <div class="uk-cover-container" style="height: 80px; width: 80px; border-radius: 50%">
                                    <img src="/img/titleimg.jpg" alt="" uk-cover>
                                </div>
                                <div class="uk-margin-small-left">
                                    <h3 class="uk-text-middle uk-text-left uk-margin-small-top uk-margin-remove-bottom">노래제목1</h3>
                                    <p class="uk-text-left uk-margin-remove"><a class="uk-text-decoration-none uk-text-meta" href="#">유저아이디1</a></p>
                                </div>
                                <div class="uk-position-medium uk-position-top-right">
                                    <a class="" href="#" uk-icon="icon: heart"></a>
                                    <a class="uk-margin-small-left" href="#" uk-icon="icon: plus;"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!--                            <textarea class="uk-margin-small-top" style="border: none" name="" id="" cols="70" rows="5">소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글</textarea>-->
                            <div class="uk-text-left uk-margin-small-top uk-margin-small-bottom" style="width: 590px; height: 100px">
                                <span class="uk-text-small">
                                    소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글소개글
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="uk-flex uk-flex-between">
                                <span class="uk-text-small">1:00</span>
                                <span class="uk-text-small">3:42</span>
                            </div>
                            <progress id="js-progressbar1" class="uk-progress uk-margin-remove-top" value="10" max="100"></progress>
                            <script>
                                UIkit.util.ready(function () {
                                    var bar = document.getElementById('js-progressbar');
                                    var animate = setInterval(function () {
                                        bar.value += 10;
                                        if (bar.value >= bar.max) {
                                            clearInterval(animate);
                                        }
                                    }, 1000);
                                });
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>