<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <nav class="uk-navbar uky-container uk-container-small" uk-navbar="align: center"
         style="margin: 0 auto; background-color: white">
        <div>
        </div>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li class="uk-active uk-logo"><a href="/feed/list.do">LOGO</a></li>
                <li class=""><a href="/feed/feed.do">Feed</a></li>
                <li class=""><a href="/library.do">Library</a></li>
            </ul>

        </div>

        <div class="uk-navbar-center uk-grid-column-large uk-width-1-2@s">
            <div class="uk-inline ">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                <input class="uk-input " type="text" aria-label="Not clickable icon">
            </div>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li class=""><a href="/feed/upload.do">Upload</a></li>
                <th:block th:if="${session.loginUser==null}">
                    <li>
                        <a class="" href="#loginModal" uk-toggle>login</a>

                        <div id="loginModal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <h1 class="uk-text-center uk-margin-medium-bottom">LOGIN</h1>
                                <h5 class="uk-text-danger uk-text-center" th:if="${session.msg!=null}" th:text="${session.msg}"></h5>
                                <form class="uk-margin-top uk-text-center" action="/user/login.do" method="post">
                                    <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="text"
                                           name="user_id" placeholder="아이디" value="user1" aria-label="uk-width-1-2">
                                    <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="pw" name="pw"
                                           placeholder="비밀번호" value="1234" aria-label="uk-width-1-2">
                                    <div class="uk-margin-small-top uk-margin-small-bottom">
                                        <label><input class="uk-checkbox uk-text-meta" type="checkbox">
                                            <span class="uk-text-meta">로그인 정보 기억하기</span></label>
                                    </div>
                                    <button class="uk-button uk-button-primary uk-width-1-2 uk-margin-small-top uk-margin-medium-bottom"
                                            type="submit">로그인
                                    </button>

                                    <div class="">
                                        <span><a class="uk-text-meta uk-margin-small-right" href="#joinModal" uk-toggle>회원가입</a></span>
                                        <span>  |  </span>
                                        <span><a class="uk-text-meta uk-margin-small-left"
                                                 href="">아이디/비밀번호 찾기</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <script th:if="${session.msg!=null}">
                        UIkit.modal(loginModal).show();
                    </script>
                    <li>
                        <a href="#joinModal" uk-toggle>Join</a>
                        <div id="joinModal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <h1 class="uk-text-center uk-margin-medium-bottom">JOIN</h1>
                                <h5 class="uk-text-danger uk-text-center" th:if="${session.msg!=null}" th:text="${session.msg}"></h5>
                                <form class="uk-margin-top uk-text-center" action="/user/join.do" method="post">
                                    <label class="uk-display-block" for="name">이름
                                        <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="text"
                                               name="name" id="name" placeholder=ex.홍길동 aria-label="uk-width-1-2">
                                    </label>

                                    <label class="uk-display-block" for="user_id">아이디
                                        <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="text"
                                               name="userId" id="user_id" placeholder="ex.abc123" aria-label="uk-width-1-2">
                                    </label>

                                    <label class="uk-display-block" for="pw">비밀번호
                                        <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="password" name="pw"
                                               id="pw" placeholder="ex.qwer1234" aria-label="uk-width-1-2">
                                    </label>
                                    <label class="uk-display-block" for="email">이메일
                                        <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="text"
                                               name="email" id="email" placeholder="ex.abc123@gmail.com" aria-label="uk-width-1-2">
                                    </label>
                                    <label class="uk-display-block" for="birth">생년월일
                                        <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="date"
                                               name="birth" id="birth" aria-label="uk-width-1-2">
                                    </label>
                                    <button class="uk-button uk-button-primary uk-width-1-2 uk-margin-small-top uk-margin-medium-bottom"
                                            type="submit">가입하기
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </th:block>
                <th:block th:unless="${session.loginUser==null}">
                    <li>
                        <a href="#">
                            <span th:text="${session.loginUser.userId}"></span>
                            <span uk-nav-parent-icon></span>
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a th:href="@{'/user/profil.do'(user_id=${session.loginUser.userId})}">프로필</a></li>
                                <li><a href="/user/logout.do">로그아웃</a></li>
                            </ul>
                        </div>
                    </li>
                </th:block>
            </ul>

        </div>
    </nav>
</div>

</html>