<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <nav class="uk-navbar uky-container uk-container-small" uk-navbar="align: center"
         style="margin: 0 auto; background-color: white">
        <div>
        </div>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li class="uk-active uk-logo"><a href="/">LOGO</a></li>
                <li class=""><a href="/feed.do">Feed</a></li>
                <li class=""><a href="/library.do">Library</a></li>
            </ul>
        </div>

        <div class="uk-navbar-center uk-grid-column-large uk-width-1-2@s">

            <div class="uk-inline ">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                <input class="uk-input " type="text" aria-label="Not clickable icon">
            </div>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li class=""><a href="#">Upload</a></li>
                <li>
                    <a class="" href="#modal-center" uk-toggle>login</a>

                    <div id="modal-center" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <h1 class="uk-text-center uk-margin-medium-bottom">LOGIN</h1>
                            <form class="uk-margin-top uk-text-center" action="/user/login.do" method="post">
                                <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="text"
                                       placeholder="아이디"
                                       aria-label="uk-width-1-2">
                                <input class="uk-input uk-width-1-2 uk-margin-small-bottom" type="pw" placeholder="비밀번호"
                                       aria-label="uk-width-1-2">
                                <div class="uk-margin-small-top uk-margin-small-bottom">
                                    <label><input class="uk-checkbox uk-text-meta" type="radio" name="radio2" checked>
                                        <span class="uk-text-meta">로그인 정보 기억하기</span></label>
                                </div>
                                <button class="uk-button uk-button-primary uk-width-1-2 uk-margin-small-top uk-margin-medium-bottom"
                                        type="submit">로그인
                                </button>

                                <div class="">
                                    <span><a class="uk-text-meta uk-margin-small-right" href="">회원가입</a></span>
                                    <span>  |  </span>
                                    <span><a class="uk-text-meta uk-margin-small-left" href="">아이디/비밀번호 찾기</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class=""><a href="#">Join</a></li>
                <!--      <li>-->
                <!--        <a href="#">Parent</a>-->
                <!--        <div class="uk-navbar-dropdown">-->
                <!--          <ul class="uk-nav uk-navbar-dropdown-nav">-->
                <!--            <li><a href="#">Item</a></li>-->
                <!--            <li><a href="#">Item</a></li>-->
                <!--          </ul>-->
                <!--        </div>-->
                <!--      </li>-->
            </ul>

        </div>
    </nav>
</div>

</html>