<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.projectgroup1.mapper.FeedMapper">
    <resultMap id="feedMap" type="feedDto" autoMapping="true">
        <id column="feed_num" property="feedNum" />
        <result column="user_id" property="userId" />
        <result column="post_time" property="postTime" />
        <association property="feedImg"
                     select="com.project.projectgroup1.mapper.ImageMapper.findByFeedNum"
                     column="feed_num"
                     fetchType="lazy"
        />
    </resultMap>
<!--     List<FeedDto> findAll();   -->
    <select id="findAll" resultMap="feedMap">
        SELECT * FROM FEED
    </select>

<!--    FeedDto findById (String feedNum);  -->
    <select id="findById" resultMap="feedMap">
        SELECT * FROM FEED WHERE feed_num=#{feedNum}
    </select>

    <select id="findTrend" resultMap="feedMap">
<!--        SELECT * FROM FEED ORDER BY views DESC LIMIT 10-->
        SELECT f.*, i.img_url FROM FEED f, IMAGE i WHERE f.feed_num = i.feed_num ORDER BY views DESC LIMIT 10
    </select>

    <!--    int insert(FeedDto dto);    -->
    <insert id="insert" parameterType="FeedDto">
        INSERT INTO FEED (feed_num,title,contents,user_id)
            VALUES (#{feedNum},#{title},#{contents},#{userId})
    </insert>

<!--    int updateById(FeedDto dto);    -->
    <update id="updateById" parameterType="FeedDto">
        UPDATE FEED SET
            title=#{title},
            contents=#{contents}
            WHERE feed_num=#{feedNum}
    </update>

<!--    int deleteById(String id);  -->
    <delete id="deleteById">
        DELETE FROM FEED WHERE feed_num=#{feedNum}
    </delete>

<!--    int updateViews(String feedNum);    -->
    <update id="updateViews">
        UPDATE FEED SET views = views+1 WHERE feed_num=#{feedNum}
    </update>
</mapper>