<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.projectgroup1.mapper.ImageMapper">
    <resultMap id="ImageMap" type="ImageDto" autoMapping="true">
        <id column="img_num" property="imgNum" />
        <result column="feed_num" property="feedNum"/>
        <result column="img_url" property="imgUrl"/>
    </resultMap>
    <insert id="insertOne">

    </insert>

    <delete id="deleteOne">
        DELETE * FROM IMAGE WHERE feed_num=#{feedNum}
    </delete>

    <select id="findByFeedNum" resultMap="ImageMap">
        SELECT * FROM IMAGE WHERE feed_num=#{feedNum}
    </select>

    <select id="findOne" resultMap="ImageMap">
        SELECT * FROM IMAGE WHERE img_num=#{imgNum}
    </select>
</mapper>