<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.projectgroup1.mapper.UserMapper">

<!--    List<UserDto> findAll();   -->
    <select id="findAll" resultType="com.project.projectgroup1.dto.UserDto">
        SELECT * FROM USER
    </select>

<!--    UserDto findById(String id);    -->
    <select id="findById" resultType="UserDto" parameterType="String">
        SELECT * FROM USER WHERE user_id=#{id}
    </select>

<!--    UserDto findByIdAndPw (String id, String pw);   -->
    <select id="findByIdAndPw" resultType="UserDto">
<!--        SELECT *,user_id userId FROM USER WHERE user_id=#{id} AND pw=#{pw}-->
        SELECT * FROM USER WHERE user_id=#{id} AND pw=#{pw}
    </select>

<!--    insert    -->
    <insert id="insert" parameterType="UserDto">
        INSERT INTO
        USER (user_id,name,pw,email,birth)
        VALUES (#{user_id},#{name},#{pw},#{email},#{birth})
    </insert>
<!--    updateById    -->
    <select id="updateById" parameterType="UserDto">
        UPDATE USER SET
        name=#{name},
        pw=#{pw},
        email=#{email},
        birth=#{birth},
        signup=#{signup}
        WHERE user_id=#{user_id}
    </select>
<!--    deleteById    -->
    <delete id="deleteById" parameterType="UserDto">
        DELETE FROM USER WHERE user_id=#{Id}
    </delete>
</mapper>